{% extends "base.html" %}

{% block title %} Home {% endblock %}

{% block content %}

<!-- Main hero unit for a primary marketing message or call to action -->
<div class="row-fluid">
    <div class="span12">
        <div class="hero-unit">
            <h1>Nomr</h1>
            <p>Networked Optical Music Recognition</p>
            <p>A web service and interface for querying glyphs for the purposes of training Optical Music Recognition (OMR) algorithms.</p>
            <p><a class="btn btn-primary btn-large" href="/search">Perform Query</a></p>
        </div>
    </div>
</div>

{% endblock %}
